* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.grid .col {
    background-color: hsl(170, 50%, 50%);
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid{
    padding: 15px;
    background-color: hsl(170, 50%, 50%);
}

.grid .col .col-content{
    width: 100%;
    height: 100%;
    background-color: hsl(170, 50%, 97%, 0.5);

}

/* .div2 {
    clear: left;
} */

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.div2 h1 {
    color: #AB4023;
}