.pai {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    background-color: pink;
    height: 500px;
    margin-bottom: 50px;
}

.pai > .div {
    width: 500px;
    height: 200px;
    background-color: fuchsia;
}

.div:nth-child(3) {
    align-self: center;
}

.div:nth-child(2) {
    order: -1;
}

.div:nth-child(3) {
    order: -1;
}

.two-columns {
    display: flex;
}

.two-columns .col {
    display: flex;
    background-color: khaki;
    margin: 15px;
    padding: 15px;
    flex-direction: column;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}

.img {
    flex: 1 0 30%;
    height: 50px;
    background-color: lightcoral;
    margin: 10px;
}
