* {
    margin: 0;
    padding: 0;
}

h1 {
    font-style: italic;
}

div section p,
div section h1 {
    color: darkslategray;
}

header p {
    font-family: sans-serif;
}

.background-colordarkblue {
    background-color: darkblue;
}

.background-colordarkblue .colorgrey,
.background-colordarkblue h2 {
    color: darkcyan;
}

.escuro {
    color: darkslategray;
}

h2.escuro {
    background-color: darkcyan;
}

.pai > .filha {
    font-size: 24px;
}

.pai2 h1+p {
    color: cornflowerblue;
}

.pai2 h2~p {
    color: darkblue;
}

[meu-atributo] {
    font-family: monospace;
}

[meu-atributo~="valor1"] {
    color: darkorange;
}

[meu-atributo|="valor"] {
    color:darkgoldenrod;
}
[meu-atributo^="oi"] {
    color: red;
}
[meu-atributo$="tarde"] {
    color:chocolate;
}
[meu-atributo*="but"] {
    color:coral;
}

