{% extends 'mysite/base/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '\projeto\css\style.css' %}">
</head>
<body>
    <div class="base-projects">
        <div class="grid-projects">
            {% for projeto in qs %}

                {% if not projeto %}

                    <h1>Nao ha projetos no momento </h1>
                
                    {%endif%}
                <div class="project-content">
                    <div class="img"></div>
                    <p class="project-name">{{projeto.nome}}</p>
                    <p class="project-descripition">{{projeto.descricao}}</p>
                    <form method = GET action="{%url 'projeto:project_detail' projeto.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="projeto_id" value="{{projeto.id}}">
                        <button class="btn btn-outline-" name="acao" value="detail" type="submit">Detalhes
                        </button> 
                    </form>
                </div>

            {%endfor%}
        </div>
    </div>

    {% if request.user.is_admin %}
    <a href="{% url 'projeto:create_project' %}" class="btn btn-primary">Criar Projeto</a>> 

    {% endif %}
</body>
</html>



{% endblock%}