
:root {
    --primary-color: #ffffff;
    --main-color: #324c7a;
    --main-color2: #627ca4;
    --main-color3: #345482;
}

.base-projects {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    padding: 25vh;
}

.grid-projects {
    flex: 1 0 30rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem ,1fr));
    gap: 5rem;
}

.project-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    border: solid gray 0.1rem;
    border-radius: 2rem;
}

.project-content .img, .project-content form{
    align-self: center;

}

.project-content form {
    justify-self: flex-end;
    margin: 3rem 0 1rem 0;
    
}

.project-content .project-name {
    padding-left: 3rem;
    font-size: 2rem;
}

.project-content .project-descripition {
    padding-top: 0.1rem;
    padding: 0 3rem;
    font-size: 1.5rem;
    
}

.project-content form .btn {
    background-color: var(--main-color);
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0;
    color: var(--primary-color);
}

.project-content .img {
    margin-bottom: 3rem;
    margin: 1rem 0;
    border-radius: 2rem;
    width: 92%;
    height: 60%;
    background-color: var(--main-color2);
    justify-self: flex-start;
}

@media (min-width: 846px) and (max-width: 1271px) {
    .grid-projects {
        grid-template-columns: repeat(auto-fill, minmax(20.5rem ,1fr));
        flex: 1 0 20.5rem;
    }

    .base-template {
        width: 100vw;
        background-color: var(--primary-color);
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        'nav projetos'
        'nav rodape';
    }

    .base-projects {
        grid-area: projetos;
    }
}

@media (max-width: 845px){ 
    .grid-projects {
        grid-template-columns: repeat(auto-fill, minmax(20rem ,1fr));
        flex: 1 0 20rem;
    }
}