* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --main-color: #324c7a;
    --main-color2: #627ca4;
    --main-color3: #345482;
}

body {
    color: #000;
    font-size: 62.5%;
}

.image {
    width: 200;
    height: 200;
    background-color: var(--main-color2);
    border-radius: 2em;
}

.card {
    border: 0.1em;
    border-radius: 1em;
    background-color: #AAA;
    display: flex;
    flex-direction: row;
}
.card-title {
    color: var(--main-color);
    font-size: 6em;
    text-transform: uppercase;
}

.base-trilhas {
    width: 100%;
    height: 100vh;
}

.base-trilhas h2{
    padding: 2rem;
    font-size: 5rem;
}