* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 3rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #0A1128;
    --white-color: #ffffff;
    --light-gray: #ccc;
    --secondary-color: crimson;
    --gap: 5rem 0;
}

html {
    font-size:  62.5%;
}

/*font-family: "open-sans", sans-serif;
    font-style: italic;*/

body {
    font-family: "open-sans", sans-serif;   
    font-size: 2rem;
    color: var(--primary-color);
}

h1, h3, h2, h4, h5, h6 {
    font-family: "montserrat", sans-serif;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
}
h2 {
    font-size: 6rem;
    text-transform: uppercase;
}
h3 {
    font-size: 5.5rem;
    text-transform: uppercase;
}
h4 {
    font-size: 5rem;
    text-transform: uppercase;
}
h5 {
    font-size: 4.5rem;
    text-transform: uppercase;
}
h6 {
    font-size: 4rem;
    text-transform: uppercase;
}

.main-bg {
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.menu-spacing {
    height: 6.5rem;
}

.white-bg {
    background-color: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 120rem;
    padding: 0 3rem;
}

.content nav ul{
    list-style: none;
    display: flex;
}

.content li a {
    cursor: pointer;
    color: var(--primary-color);
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.content li a::after {
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    bottom: 1rem;
    width: 0;
    left: 50%;
    height: 0.2rem;
    transition: all 200ms ease-in-out;
}

.content li a:hover::after {
    width: 50%;
    left: 25%;
}

.content h1 a{
    color: inherit;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.1rem 0.1rem 0 var(--light-gray);
    z-index: 2;
}

.intro-content {
    position: relative;
    top: -6rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;

}

.intro-text, .img-intro{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text h2{
    margin-bottom: 4rem;
}

.img-intro img{
    max-width: 100%;
    height: auto;
}

.top3 {
    max-width: 80rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
    justify-content: center;
}

.top3 h2 {
    margin-bottom: 4rem;
    display: block;
    align-self: center;
}

.top3 p {
    margin: 2rem 0;
    text-align: center;
}