* {
    margin: 0;
    padding: 0;
    font-family: "open-sans", sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --main-color: #324c7a;
    --main-color2: #627ca4;
    --main-color3: #345482;
}

html {
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

body {
    font-family: "open-sans", sans-serif;   
    font-size: 2rem;
    color: var(--main-color);
}

h1, h3, h2, h4, h5, h6 {
    font-family: "montserrat", sans-serif;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    text-transform: uppercase;
}

.menu{
    width: 100%;
    background-color: var(--main-color);
}

.menu .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.menu .container-fluid a{
    color: var(--primary-color);
    display: block;
    padding: 2rem;
    font-size: 1.5rem;
}

.menu .container-fluid li a:hover{
    background-color: var(--main-color3);
    font-size: 1.6rem;
    transition: all 400ms ease-in-out;
}

.menu .container-fluid ul{
    list-style: none;
    display: flex;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.home-intro {
    min-height: 100vh;
    width: 120rem;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
}

.intro-content h2 {
    padding: 0 0 5rem 5rem;
    text-align: center;
}
  
.projetos {
    width: 40rem;
    height: 40rem;
    background-color: var(--main-color2);
}

.projetos-ativos p {
    text-align: right;
}

.projetos-ativos, .img-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.trilha-section {
    display: flex;
    flex-direction: column;

}
.trilha-section h2{
    justify-content: flex-start;
    padding: 5rem 0 7rem 0;
}

.trilha-section .trilhas-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25.5rem ,1fr));
    align-items: center;
    justify-content: center;
    gap: 10rem 2rem;
}

.grid-col {
    width: 20rem;
    height: 20rem;
}

.grid-col > .trilha {
    width: 100%;
    height: 100%;
    background-color: var(--main-color2);
}

.menu-spacing {
    height: 20rem;
}

.rodape {
    width: 100%;
    height: 50vh;
    background-color: var(--main-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.rodape address {
    display: flex;
    font-style: normal;
}

.rodape address div{
    padding: 3rem;
}

@media (max-width: 845px) and (min-width: 695px){
    p {
        font-size: 1.5rem;
    }

    .fechar-menu {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }
    
    .botao-menu::after {
        content: '≡';
        position: fixed;
        background-color: var(--main-color);
        padding: 1rem;
        top: 2rem;
        right: 2rem;
        z-index: 3;
        color: var(--primary-color);
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        cursor: pointer;
    }
    
    .fechar-menu:checked~.menu {
        display: block;
    }

    .fechar-menu:checked~.botao-menu::after {
        content: '×';
    }

    .menu {
        width: 100%;
        position: fixed;
        z-index: 2;
        height: 100vh;
        display: none;
    }

    .menu .container-fluid, .menu .container-fluid ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .menu .container-fluid {
        width: 100%;
    }

    .menu .container-fluid ul li a {
        color: var(--primary-color);
    }

    .home-intro {
        min-height: 100vh;
        width: 100%;
        padding: 6rem;
        margin: 0;
    }

    .intro-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

.fechar-menu {
    display: none;
}

@media (min-width: 846px) and (max-width: 1271px) {

    .base-template {
        width: 100%;
        background-color: var(--primary-color);
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        'nav home'
        'nav rodape';
    }

    .menu-spacing {
        display: none;
    }

    .template-home-base {
        grid-area: home;
    }

    .menu {
        width: 100%;
        height: 100%;
        grid-area: nav;
    }

    .rodape {
        grid-area: rodape;
    }

    .menu .container-fluid, .menu .container-fluid ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }

    .menu .container-fluid {
        background-color: var(--main-color);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        padding: 0 0 0 3rem;
        padding: 0;
    }

    .menu .container-fluid ul li a {
        color: var(--primary-color);
        font-size: 1.3rem;
    }

    .home-intro {
        margin: 0;
        padding: 6rem;
        width: 100%;
    }
    
    .intro-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 6rem;
    }

    .trilha-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .rodape {
        margin-top: 3rem;
    }
}

@media (max-width: 695px){
    p {
        font-size: 1.2rem;
    }

    .fechar-menu {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }
    
    .botao-menu::after {
        content: '≡';
        position: fixed;
        background-color: var(--main-color);
        padding: 1rem;
        top: 2rem;
        right: 2rem;
        z-index: 3;
        color: var(--primary-color);
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        cursor: pointer;
    }
    
    .fechar-menu:checked~.menu {
        display: block;
    }

    .fechar-menu:checked~.botao-menu::after {
        content: '×';
    }

    .menu {
        width: 100%;
        position: fixed;
        z-index: 2;
        height: 200vh;   
        display: none;
    }

    .menu .container-fluid, .menu .container-fluid ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .menu .container-fluid {
        width: 100%;
        position: fixed;
    }

    .menu .container-fluid ul li a {
        color: var(--primary-color);
    }

    .home-intro {
        min-height: 100vh;
        width: 100%;
        margin: 0;
    }
    
    .intro-content p {
        width: 70%;
    }

    .intro-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
    }

    .projetos {
        width: 30rem;
        height: 30rem;
    }
    
    .trilha-section .trilhas-content {
    align-self: center;
    }

    .trilha-section h2{
        align-self: center;
    }
}