{% extends 'mysite/base/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '\trilhas\css\style.css' %}">

</head>
<body>
  {% if not qs %}
  <div class="base-trilhas">
    <h2>Parece que não há trilhas disponiveis no momento</h2>
  </div>
  {%endif%}
   
  {% for trilha in qs %}
  <div class="card">
    <div class="image"></div>
    <div class="card-header">
      <h2 class="card-title">{{ trilha }}</h2>
    </div>
    <div class="card-body">

      <p class="card-text">{{ trilha.descricao }}</p>
      <a href="" class="btn btn-primary">Detalhes</a>
      {% if request.user.is_admin %}
        <a href="{% url 'trilhas:edit_trilha' trilha.id %}" class="btn btn-primary">editar</a>> 
      {%endif%}
      {% if request.user.is_aluno %}
        <form method=POST action="{% url 'trilhas:adicionar_trilha' %}">
        {% csrf_token %}
        <input type="hidden" name="trilha_id" value="{{trilha.id}}">

        {% if trilha in request.user.trilhas.all %}
          <button class="btn btn-outline-danger" name="acao" value="remover" type="submit">remover
            </button> 
        {% else %}
          <button class="btn btn-outline-success" name="acao" value="adicionar" type="submit">Adicionar trilha
          </button>
        {%endif%}

      </form>
      {%endif%}

    </div>
  </div>
  {% endfor %}

  <br>
  <br>

  {% if request.user.is_admin %}
  <a href="{% url 'trilhas:create_trilha' %}" class="btn btn-primary">Adicionar Trilha</a>> 
  {%endif%}

</body>
</html>

{% endblock content %}