{% extends 'mysite/base/base.html' %}
{% load static %}
{% block content %}

    <div class="template-home-base">
        <section class="home-intro">
            <div class="intro-content">
                <div class="projetos-ativos">
                    <h2>Projetos ativos</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus sapiente atque exercitationem numquam! Quia aut consequatur neque maiores officia natus? Ipsam nihil doloribus impedit error dignissimos quas, labore enim voluptatum.</p>
                </div>
                <div class="img-content">
                    <div class="projetos"></div> <!--imagem do projeto e o p acima seria a descrição-->
                </div>
            </div>
        </section>
        <section class="home-intro trilha-section">
            <h2>Trilhas</h2>
            <div class="trilhas-content">
            <div class="grid-col">
                    <div class="trilha"></div>
                    <p>descrição</p>
            </div>
            <div class="grid-col">
                    <div class="trilha"></div>
                    <p>descrição</p>
            </div>
            <div class="grid-col">
                    <div class="trilha"></div>
                    <p>descrição</p>
            </div>
            <div class="grid-col">
                    <div class="trilha"></div>
                    <p>descrição</p>
            </div>
            </div>
        </section>
        <div class="menu-spacing"></div>
    </div>    
{% endblock %}